{% extends 'interface/base.html' %}

{% block content %}
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adae42846447fadaf050b804c362ec243191a7d8d60b347afb0b6b28fd617a746&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
<div class='Contacts'>
    <p>About me: 3rd year Student, Web-Dev... I also like to write in python.</p>
    <p>I decided to make a website in order to improve my skills!</p>
    <p>My friend Obama and I made this website for our teacher Ivanov...</p>
</div>
{% endblock %}
