{% extends 'interface/base.html' %}

{% block content %}
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7e857aa151664e9ab041f7ae01423a3ffa0a7f5375db72f924cb9028d35963de&amp;width=100%25&amp;height=356&amp;lang=ru_RU&amp;scroll=true"></script>
<div class='Contacts'>
    <p>About me: 3rd year Student, Web-Dev... I also like to write in python.</p>
    <p>I decided to make a website in order to improve my skills!</p>
    <p>My friend Obama and I made this website for our teacher Ivanov...</p>
</div>
{% endblock %}
