{% load static %}
<!-- Добавление системы модульной верстки -->
<div class="section header">
    <div class="container">
        <div class="row nav">
            <div class="four columns">
                logo
            </div>
            <div class="eight columns nav">
                <a class='button button-primary' href="{% url 'interface:index' %}">Главная</a>
                <a class='button button-primary' href="{% url 'interface:contacts' %}">Контакты</a>
                <a class='button button-primary' href="{% url 'interface:basket' %}">Корзина</a>
                <a class='button button-primary' href="#">Вход</a>
            </div>
        </div>
    </div>
</div>
