{% load static %}
<header>
    <div class="logo">
        <!-- <a href="{% url 'interface:index'%}"><img src="{% static 'img/Cast_Iron-logo.png' %}" class="logoimg" width="160px" height="60px"></a> -->
        <nav>
            <ul id="menu">
                <li><a href="{% url 'interface:index' %}">Главная</a></li>
                <li><a href="{% url 'interface:contacts' %}">Контакты</a></li>
                <li><a href="{% url 'interface:basket' %}">Корзина</a></li>
                <li><a href="#">Вход</a></li>
            </ul>
        </nav>
    </div>
</header>